<sdf version='1.7'>
  <world name='default'>
    <model name='ground_plane'>
      <static>1</static>
      <link name='link'>
        <collision name='collision'>
          <geometry>
            <plane>
              <normal>0 0 1</normal>
              <size>100 100</size>
            </plane>
          </geometry>
          <surface>
            <contact>
              <collide_bitmask>65535</collide_bitmask>
              <ode/>
            </contact>
            <friction>
              <ode>
                <mu>100</mu>
                <mu2>50</mu2>
              </ode>
              <torsional>
                <ode/>
              </torsional>
            </friction>
            <bounce/>
          </surface>
          <max_contacts>10</max_contacts>
        </collision>
        <visual name='visual'>
          <cast_shadows>0</cast_shadows>
          <geometry>
            <plane>
              <normal>0 0 1</normal>
              <size>100 100</size>
            </plane>
          </geometry>
          <material>
            <script>
              <uri>file://media/materials/scripts/gazebo.material</uri>
              <name>Gazebo/Grey</name>
            </script>
          </material>
        </visual>
        <self_collide>0</self_collide>
        <enable_wind>0</enable_wind>
        <kinematic>0</kinematic>
      </link>
    </model>
    <light name='sun' type='directional'>
      <cast_shadows>1</cast_shadows>
      <pose>0 0 10 0 -0 0</pose>
      <diffuse>0.8 0.8 0.8 1</diffuse>
      <specular>0.2 0.2 0.2 1</specular>
      <attenuation>
        <range>1000</range>
        <constant>0.9</constant>
        <linear>0.01</linear>
        <quadratic>0.001</quadratic>
      </attenuation>
      <direction>-0.5 0.1 -0.9</direction>
      <spot>
        <inner_angle>0</inner_angle>
        <outer_angle>0</outer_angle>
        <falloff>0</falloff>
      </spot>
    </light>
    <physics type='ode'>
      <real_time_update_rate>1000</real_time_update_rate>
      <max_step_size>0.001</max_step_size>
      <real_time_factor>1</real_time_factor>
    </physics>
    <gravity>0 0 0</gravity>
    <gui fullscreen='0'>
      <camera name='user_camera'>
        <pose>3.26104 1.73054 1.77858 -0 0.460527 -2.90081</pose>
        <view_controller>orbit</view_controller>
        <projection_type>perspective</projection_type>
      </camera>
    </gui>
    <magnetic_field>6e-06 2.3e-05 -4.2e-05</magnetic_field>
    <atmosphere type='adiabatic'/>
    <scene>
      <ambient>0.4 0.4 0.4 1</ambient>
      <background>0.7 0.7 0.7 1</background>
      <shadows>1</shadows>
    </scene>
    <wind/>
    <spherical_coordinates>
      <surface_model>EARTH_WGS84</surface_model>
      <latitude_deg>0</latitude_deg>
      <longitude_deg>0</longitude_deg>
      <elevation>0</elevation>
      <heading_deg>0</heading_deg>
    </spherical_coordinates>
    <model name='panda'>
      <joint name='panda_to_world' type='fixed'>
        <pose relative_to='__model__'>0 0 0 0 -0 0</pose>
        <parent>world</parent>
        <child>panda_link0</child>
      </joint>
      <link name='panda_link0'>
        <pose relative_to='panda_to_world'>0 0 0 0 -0 0</pose>
        <inertial>
          <pose>-0.001973 0.005918 0.015781 0 -0 0</pose>
          <mass>3.12158</mass>
          <inertia>
            <ixx>0.344132</ixx>
            <ixy>0.00177285</ixy>
            <ixz>0.00482808</ixz>
            <iyy>0.339259</iyy>
            <iyz>-0.0144861</iyz>
            <izz>0.306126</izz>
          </inertia>
        </inertial>
        <collision name='panda_link0_collision'>
          <pose>0 0 0 0 -0 0</pose>
          <geometry>
            <mesh>
              <scale>1 1 1</scale>
              <uri>/root/catkin_ws/src/franka_panda_description/meshes/collision/link0.stl</uri>
            </mesh>
          </geometry>
          <max_contacts>10</max_contacts>
          <surface>
            <contact>
              <ode/>
            </contact>
            <bounce/>
            <friction>
              <torsional>
                <ode/>
              </torsional>
              <ode/>
            </friction>
          </surface>
        </collision>
        <collision name='panda_link0_fixed_joint_lump__rs200_camera_collision_1'>
          <pose>-0.1 0.3 0.8 0 0.785398 -0.5236</pose>
          <geometry>
            <box>
              <size>0.0078 0.13 0.0192</size>
            </box>
          </geometry>
          <surface>
            <contact>
              <ode>
                <kp>1e+13</kp>
                <kd>1</kd>
              </ode>
            </contact>
            <friction>
              <ode>
                <mu2>1</mu2>
                <fdir1>0 0 0</fdir1>
              </ode>
              <torsional>
                <ode/>
              </torsional>
            </friction>
            <bounce/>
          </surface>
          <max_contacts>10</max_contacts>
        </collision>
        <visual name='panda_link0_visual'>
          <pose>0 0 0 0 -0 0</pose>
          <geometry>
            <mesh>
              <scale>1 1 1</scale>
              <uri>/root/catkin_ws/src/franka_panda_description/meshes/visual/link0.dae</uri>
            </mesh>
          </geometry>
        </visual>
        <visual name='panda_link0_fixed_joint_lump__rs200_camera_visual_1'>
          <pose>-0.1 0.3 0.8 0 0.785398 -0.5236</pose>
          <geometry>
            <mesh>
              <scale>1 1 1</scale>
              <uri>/root/catkin_ws/src/realsense_gazebo_plugin_smc/models/realsense_camera/meshes/realsense.dae</uri>
            </mesh>
          </geometry>
        </visual>
        <gravity>1</gravity>
        <velocity_decay/>
        <self_collide>0</self_collide>
        <enable_wind>0</enable_wind>
        <kinematic>0</kinematic>
        <gravity>1</gravity>
        <sensor name='color' type='camera'>
          <camera name='rs200_camera'>
            <horizontal_fov>1.047</horizontal_fov>
            <image>
              <width>640</width>
              <height>480</height>
              <format>RGB_INT8</format>
            </image>
            <clip>
              <near>0.1</near>
              <far>100</far>
            </clip>
            <noise>
              <type>gaussian</type>
              <mean>0</mean>
              <stddev>0.007</stddev>
            </noise>
          </camera>
          <always_on>1</always_on>
          <update_rate>60</update_rate>
          <visualize>1</visualize>
          <pose>-0.1 0.3 0.8 0 0.785398 -0.5236</pose>
        </sensor>
        <sensor name='ired1' type='camera'>
          <camera name='rs200_camera'>
            <horizontal_fov>1.047</horizontal_fov>
            <image>
              <width>640</width>
              <height>480</height>
              <format>L_INT8</format>
            </image>
            <clip>
              <near>0.1</near>
              <far>100</far>
            </clip>
            <noise>
              <type>gaussian</type>
              <mean>0</mean>
              <stddev>0.05</stddev>
            </noise>
          </camera>
          <always_on>1</always_on>
          <update_rate>60</update_rate>
          <visualize>0</visualize>
          <pose>-0.1 0.3 0.8 0 0.785398 -0.5236</pose>
        </sensor>
        <sensor name='ired2' type='camera'>
          <camera name='rs200_camera'>
            <horizontal_fov>1.047</horizontal_fov>
            <image>
              <width>640</width>
              <height>480</height>
              <format>L_INT8</format>
            </image>
            <clip>
              <near>0.1</near>
              <far>100</far>
            </clip>
            <noise>
              <type>gaussian</type>
              <mean>0</mean>
              <stddev>0.05</stddev>
            </noise>
          </camera>
          <always_on>1</always_on>
          <update_rate>60</update_rate>
          <visualize>0</visualize>
          <pose>-0.1 0.3 0.8 0 0.785398 -0.5236</pose>
        </sensor>
        <sensor name='depth' type='depth'>
          <camera name='rs200_camera'>
            <horizontal_fov>1.047</horizontal_fov>
            <image>
              <width>640</width>
              <height>480</height>
            </image>
            <clip>
              <near>0.1</near>
              <far>100</far>
            </clip>
            <noise>
              <type>gaussian</type>
              <mean>0</mean>
              <stddev>0.1</stddev>
            </noise>
          </camera>
          <always_on>1</always_on>
          <update_rate>60</update_rate>
          <visualize>0</visualize>
          <pose>-0.1 0.3 0.8 0 0.785398 -0.5236</pose>
        </sensor>
      </link>
      <joint name='panda_joint1' type='revolute'>
        <pose relative_to='panda_link0'>0 0 0.333 0 -0 0</pose>
        <parent>panda_link0</parent>
        <child>panda_link1</child>
        <axis>
          <xyz>0 0 1</xyz>
          <limit>
            <lower>-2.8973</lower>
            <upper>2.8973</upper>
            <effort>87</effort>
            <velocity>2.175</velocity>
          </limit>
          <dynamics>
            <damping>10</damping>
            <friction>5</friction>
            <spring_reference>0</spring_reference>
            <spring_stiffness>0</spring_stiffness>
          </dynamics>
        </axis>
        <physics>
          <provide_feedback>1</provide_feedback>
          <ode>
            <implicit_spring_damper>1</implicit_spring_damper>
            <cfm_damping>1</cfm_damping>
            <limit>
              <cfm>0</cfm>
              <erp>0.2</erp>
            </limit>
            <provide_feedback>1</provide_feedback>
          </ode>
        </physics>
      </joint>
      <link name='panda_link1'>
        <pose relative_to='panda_joint1'>0 0 0 0 -0 0</pose>
        <inertial>
          <pose>0.003875 0.002081 -0.175 0 -0 0</pose>
          <mass>4.97068</mass>
          <inertia>
            <ixx>0.70337</ixx>
            <ixy>-0.000139</ixy>
            <ixz>0.006772</ixz>
            <iyy>0.70661</iyy>
            <iyz>0.019169</iyz>
            <izz>0.009117</izz>
          </inertia>
        </inertial>
        <collision name='panda_link1_collision'>
          <pose>0 0 0 0 -0 0</pose>
          <geometry>
            <mesh>
              <scale>1 1 1</scale>
              <uri>/root/catkin_ws/src/franka_panda_description/meshes/collision/link1.stl</uri>
            </mesh>
          </geometry>
          <surface>
            <contact>
              <ode/>
            </contact>
            <friction>
              <ode/>
              <torsional>
                <ode/>
              </torsional>
            </friction>
            <bounce/>
          </surface>
          <max_contacts>10</max_contacts>
        </collision>
        <visual name='panda_link1_visual'>
          <pose>0 0 0 0 -0 0</pose>
          <geometry>
            <mesh>
              <scale>1 1 1</scale>
              <uri>/root/catkin_ws/src/franka_panda_description/meshes/visual/link1.dae</uri>
            </mesh>
          </geometry>
        </visual>
        <velocity_decay/>
        <self_collide>1</self_collide>
        <gravity>1</gravity>
        <velocity_decay/>
        <sensor name='panda_link1_contact' type='contact'>
          <update_rate>50</update_rate>
          <always_on>1</always_on>
          <contact>
            <collision>panda_link1_collision</collision>
            <topic>__default_topic__</topic>
          </contact>
          <plugin name='link1_bumper' filename='libgazebo_ros_bumper.so'>
            <bumperTopicName>panda_link1_collision</bumperTopicName>
            <frameName>panda_link1</frameName>
            <robotNamespace>/</robotNamespace>
          </plugin>
        </sensor>
        <enable_wind>0</enable_wind>
        <kinematic>0</kinematic>
      </link>
      <joint name='panda_joint2' type='revolute'>
        <pose relative_to='panda_link1'>0 0 0 -1.5708 0 0</pose>
        <parent>panda_link1</parent>
        <child>panda_link2</child>
        <axis>
          <xyz>0 0 1</xyz>
          <limit>
            <lower>-1.7628</lower>
            <upper>1.7628</upper>
            <effort>87</effort>
            <velocity>2.175</velocity>
          </limit>
          <dynamics>
            <damping>5</damping>
            <friction>2</friction>
            <spring_reference>0</spring_reference>
            <spring_stiffness>0</spring_stiffness>
          </dynamics>
        </axis>
        <physics>
          <provide_feedback>1</provide_feedback>
          <ode>
            <implicit_spring_damper>1</implicit_spring_damper>
            <cfm_damping>1</cfm_damping>
            <limit>
              <cfm>0</cfm>
              <erp>0.2</erp>
            </limit>
            <provide_feedback>1</provide_feedback>
          </ode>
        </physics>
      </joint>
      <link name='panda_link2'>
        <pose relative_to='panda_joint2'>0 0 0 0 -0 0</pose>
        <inertial>
          <pose>-0.003141 -0.02872 0.003495 0 -0 0</pose>
          <mass>0.646926</mass>
          <inertia>
            <ixx>0.007962</ixx>
            <ixy>-0.003925</ixy>
            <ixz>0.010254</ixz>
            <iyy>0.02811</iyy>
            <iyz>0.000704</iyz>
            <izz>0.025995</izz>
          </inertia>
        </inertial>
        <collision name='panda_link2_collision'>
          <pose>0 0 0 0 -0 0</pose>
          <geometry>
            <mesh>
              <scale>1 1 1</scale>
              <uri>/root/catkin_ws/src/franka_panda_description/meshes/collision/link2.stl</uri>
            </mesh>
          </geometry>
          <surface>
            <contact>
              <ode/>
            </contact>
            <friction>
              <ode/>
              <torsional>
                <ode/>
              </torsional>
            </friction>
            <bounce/>
          </surface>
          <max_contacts>10</max_contacts>
        </collision>
        <visual name='panda_link2_visual'>
          <pose>0 0 0 0 -0 0</pose>
          <geometry>
            <mesh>
              <scale>1 1 1</scale>
              <uri>/root/catkin_ws/src/franka_panda_description/meshes/visual/link2.dae</uri>
            </mesh>
          </geometry>
        </visual>
        <velocity_decay/>
        <self_collide>1</self_collide>
        <gravity>1</gravity>
        <velocity_decay/>
        <sensor name='panda_link2_contact' type='contact'>
          <update_rate>50</update_rate>
          <always_on>1</always_on>
          <contact>
            <collision>panda_link2_collision</collision>
            <topic>__default_topic__</topic>
          </contact>
          <plugin name='link2_bumper' filename='libgazebo_ros_bumper.so'>
            <bumperTopicName>panda_link2_collision</bumperTopicName>
            <frameName>panda_link2</frameName>
            <robotNamespace>/</robotNamespace>
          </plugin>
        </sensor>
        <enable_wind>0</enable_wind>
        <kinematic>0</kinematic>
      </link>
      <joint name='panda_joint3' type='revolute'>
        <pose relative_to='panda_link2'>0 -0.316 0 1.5708 -0 0</pose>
        <parent>panda_link2</parent>
        <child>panda_link3</child>
        <axis>
          <xyz>0 0 1</xyz>
          <limit>
            <lower>-2.8973</lower>
            <upper>2.8973</upper>
            <effort>87</effort>
            <velocity>2.175</velocity>
          </limit>
          <dynamics>
            <damping>5</damping>
            <friction>2</friction>
            <spring_reference>0</spring_reference>
            <spring_stiffness>0</spring_stiffness>
          </dynamics>
        </axis>
        <physics>
          <provide_feedback>1</provide_feedback>
          <ode>
            <implicit_spring_damper>1</implicit_spring_damper>
            <cfm_damping>1</cfm_damping>
            <limit>
              <cfm>0</cfm>
              <erp>0.2</erp>
            </limit>
            <provide_feedback>1</provide_feedback>
          </ode>
        </physics>
      </joint>
      <link name='panda_link3'>
        <pose relative_to='panda_joint3'>0 0 0 0 -0 0</pose>
        <inertial>
          <pose>0.027518 0.039252 -0.066502 0 -0 0</pose>
          <mass>3.2286</mass>
          <inertia>
            <ixx>0.037242</ixx>
            <ixy>-0.004761</ixy>
            <ixz>-0.011396</ixz>
            <iyy>0.036155</iyy>
            <iyz>-0.012805</iyz>
            <izz>0.01083</izz>
          </inertia>
        </inertial>
        <collision name='panda_link3_collision'>
          <pose>0 0 0 0 -0 0</pose>
          <geometry>
            <mesh>
              <scale>1 1 1</scale>
              <uri>/root/catkin_ws/src/franka_panda_description/meshes/collision/link3.stl</uri>
            </mesh>
          </geometry>
          <surface>
            <contact>
              <ode/>
            </contact>
            <friction>
              <ode/>
              <torsional>
                <ode/>
              </torsional>
            </friction>
            <bounce/>
          </surface>
          <max_contacts>10</max_contacts>
        </collision>
        <visual name='panda_link3_visual'>
          <pose>0 0 0 0 -0 0</pose>
          <geometry>
            <mesh>
              <scale>1 1 1</scale>
              <uri>/root/catkin_ws/src/franka_panda_description/meshes/visual/link3.dae</uri>
            </mesh>
          </geometry>
        </visual>
        <velocity_decay/>
        <self_collide>1</self_collide>
        <gravity>1</gravity>
        <velocity_decay/>
        <sensor name='panda_link3_contact' type='contact'>
          <update_rate>50</update_rate>
          <always_on>1</always_on>
          <contact>
            <collision>panda_link3_collision</collision>
            <topic>__default_topic__</topic>
          </contact>
          <plugin name='link3_bumper' filename='libgazebo_ros_bumper.so'>
            <bumperTopicName>panda_link3_collision</bumperTopicName>
            <frameName>panda_link3</frameName>
            <robotNamespace>/</robotNamespace>
          </plugin>
        </sensor>
        <enable_wind>0</enable_wind>
        <kinematic>0</kinematic>
      </link>
      <joint name='panda_joint4' type='revolute'>
        <pose relative_to='panda_link3'>0.0825 0 0 1.5708 -0 0</pose>
        <parent>panda_link3</parent>
        <child>panda_link4</child>
        <axis>
          <xyz>0 0 1</xyz>
          <limit>
            <lower>-3.0718</lower>
            <upper>-0.0698</upper>
            <effort>87</effort>
            <velocity>2.175</velocity>
          </limit>
          <dynamics>
            <damping>1</damping>
            <friction>0.5</friction>
            <spring_reference>0</spring_reference>
            <spring_stiffness>0</spring_stiffness>
          </dynamics>
        </axis>
        <physics>
          <provide_feedback>1</provide_feedback>
          <ode>
            <implicit_spring_damper>1</implicit_spring_damper>
            <cfm_damping>1</cfm_damping>
            <limit>
              <cfm>0</cfm>
              <erp>0.2</erp>
            </limit>
            <provide_feedback>1</provide_feedback>
          </ode>
        </physics>
      </joint>
      <link name='panda_link4'>
        <pose relative_to='panda_joint4'>0 0 0 0 -0 0</pose>
        <inertial>
          <pose>-0.05317 0.104419 0.027454 0 -0 0</pose>
          <mass>3.5879</mass>
          <inertia>
            <ixx>0.025853</ixx>
            <ixy>0.007796</ixy>
            <ixz>-0.001332</ixz>
            <iyy>0.019552</iyy>
            <iyz>0.008641</iyz>
            <izz>0.028323</izz>
          </inertia>
        </inertial>
        <collision name='panda_link4_collision'>
          <pose>0 0 0 0 -0 0</pose>
          <geometry>
            <mesh>
              <scale>1 1 1</scale>
              <uri>/root/catkin_ws/src/franka_panda_description/meshes/collision/link4.stl</uri>
            </mesh>
          </geometry>
          <surface>
            <contact>
              <ode/>
            </contact>
            <friction>
              <ode/>
              <torsional>
                <ode/>
              </torsional>
            </friction>
            <bounce/>
          </surface>
          <max_contacts>10</max_contacts>
        </collision>
        <visual name='panda_link4_visual'>
          <pose>0 0 0 0 -0 0</pose>
          <geometry>
            <mesh>
              <scale>1 1 1</scale>
              <uri>/root/catkin_ws/src/franka_panda_description/meshes/visual/link4.dae</uri>
            </mesh>
          </geometry>
        </visual>
        <velocity_decay/>
        <self_collide>1</self_collide>
        <gravity>1</gravity>
        <velocity_decay/>
        <sensor name='panda_link4_contact' type='contact'>
          <update_rate>50</update_rate>
          <always_on>1</always_on>
          <contact>
            <collision>panda_link4_collision</collision>
            <topic>__default_topic__</topic>
          </contact>
          <plugin name='link4_bumper' filename='libgazebo_ros_bumper.so'>
            <bumperTopicName>panda_link4_collision</bumperTopicName>
            <frameName>panda_link4</frameName>
            <robotNamespace>/</robotNamespace>
          </plugin>
        </sensor>
        <enable_wind>0</enable_wind>
        <kinematic>0</kinematic>
      </link>
      <joint name='panda_joint5' type='revolute'>
        <pose relative_to='panda_link4'>-0.0825 0.384 0 -1.5708 0 0</pose>
        <parent>panda_link4</parent>
        <child>panda_link5</child>
        <axis>
          <xyz>0 0 1</xyz>
          <limit>
            <lower>-2.8973</lower>
            <upper>2.8973</upper>
            <effort>12</effort>
            <velocity>2.61</velocity>
          </limit>
          <dynamics>
            <damping>2</damping>
            <friction>1</friction>
            <spring_reference>0</spring_reference>
            <spring_stiffness>0</spring_stiffness>
          </dynamics>
        </axis>
        <physics>
          <provide_feedback>1</provide_feedback>
          <ode>
            <implicit_spring_damper>1</implicit_spring_damper>
            <cfm_damping>1</cfm_damping>
            <limit>
              <cfm>0</cfm>
              <erp>0.2</erp>
            </limit>
            <provide_feedback>1</provide_feedback>
          </ode>
        </physics>
      </joint>
      <link name='panda_link5'>
        <pose relative_to='panda_joint5'>0 0 0 0 -0 0</pose>
        <inertial>
          <pose>-0.011953 0.041065 -0.038437 0 -0 0</pose>
          <mass>1.22595</mass>
          <inertia>
            <ixx>0.035549</ixx>
            <ixy>-0.002117</ixy>
            <ixz>-0.004037</ixz>
            <iyy>0.029474</iyy>
            <iyz>0.000229</iyz>
            <izz>0.008627</izz>
          </inertia>
        </inertial>
        <collision name='panda_link5_collision'>
          <pose>0 0 0 0 -0 0</pose>
          <geometry>
            <mesh>
              <scale>1 1 1</scale>
              <uri>/root/catkin_ws/src/franka_panda_description/meshes/collision/link5.stl</uri>
            </mesh>
          </geometry>
          <surface>
            <contact>
              <ode/>
            </contact>
            <friction>
              <ode/>
              <torsional>
                <ode/>
              </torsional>
            </friction>
            <bounce/>
          </surface>
          <max_contacts>10</max_contacts>
        </collision>
        <visual name='panda_link5_visual'>
          <pose>0 0 0 0 -0 0</pose>
          <geometry>
            <mesh>
              <scale>1 1 1</scale>
              <uri>/root/catkin_ws/src/franka_panda_description/meshes/visual/link5.dae</uri>
            </mesh>
          </geometry>
        </visual>
        <velocity_decay/>
        <self_collide>1</self_collide>
        <gravity>1</gravity>
        <velocity_decay/>
        <sensor name='panda_link5_contact' type='contact'>
          <update_rate>50</update_rate>
          <always_on>1</always_on>
          <contact>
            <collision>panda_link5_collision</collision>
            <topic>__default_topic__</topic>
          </contact>
          <plugin name='link5_bumper' filename='libgazebo_ros_bumper.so'>
            <bumperTopicName>panda_link5_collision</bumperTopicName>
            <frameName>panda_link5</frameName>
            <robotNamespace>/</robotNamespace>
          </plugin>
        </sensor>
        <enable_wind>0</enable_wind>
        <kinematic>0</kinematic>
      </link>
      <joint name='panda_joint6' type='revolute'>
        <pose relative_to='panda_link5'>0 0 0 1.5708 -0 0</pose>
        <parent>panda_link5</parent>
        <child>panda_link6</child>
        <axis>
          <xyz>0 0 1</xyz>
          <limit>
            <lower>-0.0175</lower>
            <upper>3.7525</upper>
            <effort>12</effort>
            <velocity>2.61</velocity>
          </limit>
          <dynamics>
            <damping>1</damping>
            <friction>0.5</friction>
            <spring_reference>0</spring_reference>
            <spring_stiffness>0</spring_stiffness>
          </dynamics>
        </axis>
        <physics>
          <provide_feedback>1</provide_feedback>
          <ode>
            <implicit_spring_damper>1</implicit_spring_damper>
            <cfm_damping>1</cfm_damping>
            <limit>
              <cfm>0</cfm>
              <erp>0.2</erp>
            </limit>
            <provide_feedback>1</provide_feedback>
          </ode>
        </physics>
      </joint>
      <link name='panda_link6'>
        <pose relative_to='panda_joint6'>0 0 0 0 -0 0</pose>
        <inertial>
          <pose>0.060149 -0.014117 -0.010517 0 -0 0</pose>
          <mass>1.66656</mass>
          <inertia>
            <ixx>0.001964</ixx>
            <ixy>0.000109</ixy>
            <ixz>-0.001158</ixz>
            <iyy>0.004354</iyy>
            <iyz>0.000341</iyz>
            <izz>0.005433</izz>
          </inertia>
        </inertial>
        <collision name='panda_link6_collision'>
          <pose>0 0 0 0 -0 0</pose>
          <geometry>
            <mesh>
              <scale>1 1 1</scale>
              <uri>/root/catkin_ws/src/franka_panda_description/meshes/collision/link6.stl</uri>
            </mesh>
          </geometry>
          <surface>
            <contact>
              <ode/>
            </contact>
            <friction>
              <ode/>
              <torsional>
                <ode/>
              </torsional>
            </friction>
            <bounce/>
          </surface>
          <max_contacts>10</max_contacts>
        </collision>
        <visual name='panda_link6_visual'>
          <pose>0 0 0 0 -0 0</pose>
          <geometry>
            <mesh>
              <scale>1 1 1</scale>
              <uri>/root/catkin_ws/src/franka_panda_description/meshes/visual/link6.dae</uri>
            </mesh>
          </geometry>
        </visual>
        <velocity_decay/>
        <self_collide>1</self_collide>
        <gravity>1</gravity>
        <velocity_decay/>
        <sensor name='panda_link6_contact' type='contact'>
          <update_rate>50</update_rate>
          <always_on>1</always_on>
          <contact>
            <collision>panda_link6_collision</collision>
            <topic>__default_topic__</topic>
          </contact>
          <plugin name='link6_bumper' filename='libgazebo_ros_bumper.so'>
            <bumperTopicName>panda_link6_collision</bumperTopicName>
            <frameName>panda_link6</frameName>
            <robotNamespace>/</robotNamespace>
          </plugin>
        </sensor>
        <enable_wind>0</enable_wind>
        <kinematic>0</kinematic>
      </link>
      <joint name='panda_joint7' type='revolute'>
        <pose relative_to='panda_link6'>0.088 0 0 1.5708 -0 0</pose>
        <parent>panda_link6</parent>
        <child>panda_link7</child>
        <axis>
          <xyz>0 0 1</xyz>
          <limit>
            <lower>-2.8973</lower>
            <upper>2.8973</upper>
            <effort>12</effort>
            <velocity>2.61</velocity>
          </limit>
          <dynamics>
            <damping>1</damping>
            <friction>0.5</friction>
            <spring_reference>0</spring_reference>
            <spring_stiffness>0</spring_stiffness>
          </dynamics>
        </axis>
        <physics>
          <provide_feedback>1</provide_feedback>
          <ode>
            <implicit_spring_damper>1</implicit_spring_damper>
            <cfm_damping>1</cfm_damping>
            <limit>
              <cfm>0</cfm>
              <erp>0.2</erp>
            </limit>
            <provide_feedback>1</provide_feedback>
          </ode>
        </physics>
        <sensor name='panda_joint7_force_torque' type='force_torque'>
          <always_on>1</always_on>
          <visualize>0</visualize>
          <force_torque>
            <frame>sensor</frame>
            <measure_direction>child_to_parent</measure_direction>
          </force_torque>
        </sensor>
      </joint>
      <link name='panda_link7'>
        <pose relative_to='panda_joint7'>0 0 0 0 -0 0</pose>
        <inertial>
          <pose>0.005815 -0.001597 0.097957 0 -0 0</pose>
          <mass>1.46552</mass>
          <inertia>
            <ixx>0.0170713</ixx>
            <ixy>-0.00160235</ixy>
            <ixz>-0.000943568</ixz>
            <iyy>0.0146046</iyy>
            <iyz>-0.000883539</iyz>
            <izz>0.00842183</izz>
          </inertia>
        </inertial>
        <collision name='panda_link7_collision'>
          <pose>0 0 0 0 -0 0</pose>
          <geometry>
            <mesh>
              <scale>1 1 1</scale>
              <uri>/root/catkin_ws/src/franka_panda_description/meshes/collision/link7.stl</uri>
            </mesh>
          </geometry>
          <surface>
            <contact>
              <ode/>
            </contact>
            <friction>
              <ode/>
              <torsional>
                <ode/>
              </torsional>
            </friction>
            <bounce/>
          </surface>
          <max_contacts>10</max_contacts>
        </collision>
        <collision name='panda_link7_fixed_joint_lump__panda_hand_collision_1'>
          <pose>0 0 0.107 0 0 -0.785398</pose>
          <geometry>
            <mesh>
              <scale>1 1 1</scale>
              <uri>/root/catkin_ws/src/franka_panda_description/meshes/collision/hand.stl</uri>
            </mesh>
          </geometry>
          <max_contacts>10</max_contacts>
          <surface>
            <contact>
              <ode/>
            </contact>
            <bounce/>
            <friction>
              <torsional>
                <ode/>
              </torsional>
              <ode/>
            </friction>
          </surface>
        </collision>
        <visual name='panda_link7_visual'>
          <pose>0 0 0 0 -0 0</pose>
          <geometry>
            <mesh>
              <scale>1 1 1</scale>
              <uri>/root/catkin_ws/src/franka_panda_description/meshes/visual/link7.dae</uri>
            </mesh>
          </geometry>
        </visual>
        <visual name='panda_link7_fixed_joint_lump__panda_hand_visual_1'>
          <pose>0 0 0.107 0 0 -0.785398</pose>
          <geometry>
            <mesh>
              <scale>1 1 1</scale>
              <uri>/root/catkin_ws/src/franka_panda_description/meshes/visual/hand.dae</uri>
            </mesh>
          </geometry>
        </visual>
        <velocity_decay/>
        <self_collide>1</self_collide>
        <gravity>1</gravity>
        <velocity_decay/>
        <sensor name='panda_link7_contact' type='contact'>
          <update_rate>50</update_rate>
          <always_on>1</always_on>
          <contact>
            <collision>panda_link7_collision</collision>
            <topic>__default_topic__</topic>
          </contact>
          <plugin name='link7_bumper' filename='libgazebo_ros_bumper.so'>
            <bumperTopicName>panda_link7_collision</bumperTopicName>
            <frameName>panda_link7</frameName>
            <robotNamespace>/</robotNamespace>
          </plugin>
        </sensor>
        <enable_wind>0</enable_wind>
        <kinematic>0</kinematic>
      </link>
      <joint name='panda_finger_joint1' type='prismatic'>
        <pose relative_to='panda_link7'>0 0 0.1654 0 0 -0.785398</pose>
        <parent>panda_link7</parent>
        <child>panda_leftfinger</child>
        <axis>
          <xyz>0 1 0</xyz>
          <limit>
            <lower>0</lower>
            <upper>0.04</upper>
            <effort>20</effort>
            <velocity>0.2</velocity>
          </limit>
          <dynamics>
            <damping>500</damping>
            <friction>0</friction>
            <spring_reference>0</spring_reference>
            <spring_stiffness>0</spring_stiffness>
          </dynamics>
        </axis>
        <physics>
          <provide_feedback>1</provide_feedback>
          <ode>
            <implicit_spring_damper>1</implicit_spring_damper>
            <cfm_damping>1</cfm_damping>
            <limit>
              <cfm>0</cfm>
              <erp>0.2</erp>
            </limit>
            <provide_feedback>1</provide_feedback>
          </ode>
        </physics>
      </joint>
      <link name='panda_leftfinger'>
        <pose relative_to='panda_finger_joint1'>0 0 0 0 -0 0</pose>
        <inertial>
          <pose>0 0.014564 0.022794 0 -0 0</pose>
          <mass>0.1</mass>
          <inertia>
            <ixx>3.01221e-05</ixx>
            <ixy>0</ixy>
            <ixz>0</ixz>
            <iyy>2.95874e-05</iyy>
            <iyz>0</iyz>
            <izz>6.95125e-06</izz>
          </inertia>
        </inertial>
        <collision name='panda_leftfinger_collision'>
          <pose>0 0 0 0 -0 0</pose>
          <geometry>
            <mesh>
              <scale>1 1 1</scale>
              <uri>/root/catkin_ws/src/franka_panda_description/meshes/collision/finger.stl</uri>
            </mesh>
          </geometry>
          <surface>
            <contact>
              <ode/>
            </contact>
            <friction>
              <ode/>
              <torsional>
                <ode/>
              </torsional>
            </friction>
            <bounce/>
          </surface>
          <max_contacts>10</max_contacts>
        </collision>
        <visual name='panda_leftfinger_visual'>
          <pose>0 0 0 0 -0 0</pose>
          <geometry>
            <mesh>
              <scale>1 1 1</scale>
              <uri>/root/catkin_ws/src/franka_panda_description/meshes/visual/finger.dae</uri>
            </mesh>
          </geometry>
        </visual>
        <gravity>1</gravity>
        <velocity_decay/>
        <sensor name='panda_leftfinger_contact' type='contact'>
          <update_rate>50</update_rate>
          <always_on>1</always_on>
          <contact>
            <collision>panda_leftfinger_collision</collision>
            <topic>__default_topic__</topic>
          </contact>
          <plugin name='leftfinger_bumper' filename='libgazebo_ros_bumper.so'>
            <bumperTopicName>panda_leftfinger_collision</bumperTopicName>
            <frameName>panda_leftfinger</frameName>
            <robotNamespace>/</robotNamespace>
          </plugin>
        </sensor>
        <self_collide>0</self_collide>
        <enable_wind>0</enable_wind>
        <kinematic>0</kinematic>
      </link>
      <joint name='panda_finger_joint2' type='prismatic'>
        <pose relative_to='panda_link7'>0 0 0.1654 0 0 -0.785398</pose>
        <parent>panda_link7</parent>
        <child>panda_rightfinger</child>
        <axis>
          <xyz>0 -1 0</xyz>
          <limit>
            <lower>0</lower>
            <upper>0.04</upper>
            <effort>20</effort>
            <velocity>0.2</velocity>
          </limit>
          <dynamics>
            <damping>500</damping>
            <friction>0</friction>
            <spring_reference>0</spring_reference>
            <spring_stiffness>0</spring_stiffness>
          </dynamics>
        </axis>
        <physics>
          <provide_feedback>1</provide_feedback>
          <ode>
            <implicit_spring_damper>1</implicit_spring_damper>
            <cfm_damping>1</cfm_damping>
            <limit>
              <cfm>0</cfm>
              <erp>0.2</erp>
            </limit>
            <provide_feedback>1</provide_feedback>
          </ode>
        </physics>
      </joint>
      <link name='panda_rightfinger'>
        <pose relative_to='panda_finger_joint2'>0 0 0 0 -0 0</pose>
        <inertial>
          <pose>0 -0.014564 0.022794 0 -0 3.14159</pose>
          <mass>0.1</mass>
          <inertia>
            <ixx>3.01221e-05</ixx>
            <ixy>0</ixy>
            <ixz>0</ixz>
            <iyy>2.95874e-05</iyy>
            <iyz>0</iyz>
            <izz>6.95125e-06</izz>
          </inertia>
        </inertial>
        <collision name='panda_rightfinger_collision'>
          <pose>0 0 0 0 -0 3.14159</pose>
          <geometry>
            <mesh>
              <scale>1 1 1</scale>
              <uri>/root/catkin_ws/src/franka_panda_description/meshes/collision/finger.stl</uri>
            </mesh>
          </geometry>
          <surface>
            <contact>
              <ode/>
            </contact>
            <friction>
              <ode/>
              <torsional>
                <ode/>
              </torsional>
            </friction>
            <bounce/>
          </surface>
          <max_contacts>10</max_contacts>
        </collision>
        <visual name='panda_rightfinger_visual'>
          <pose>0 0 0 0 -0 3.14159</pose>
          <geometry>
            <mesh>
              <scale>1 1 1</scale>
              <uri>/root/catkin_ws/src/franka_panda_description/meshes/visual/finger.dae</uri>
            </mesh>
          </geometry>
        </visual>
        <gravity>1</gravity>
        <velocity_decay/>
        <sensor name='panda_rightfinger_contact' type='contact'>
          <update_rate>50</update_rate>
          <always_on>1</always_on>
          <contact>
            <collision>panda_rightfinger_collision</collision>
            <topic>__default_topic__</topic>
          </contact>
          <plugin name='rightfinger_bumper' filename='libgazebo_ros_bumper.so'>
            <bumperTopicName>panda_rightfinger_collision</bumperTopicName>
            <frameName>panda_rightfinger</frameName>
            <robotNamespace>/</robotNamespace>
          </plugin>
        </sensor>
        <self_collide>0</self_collide>
        <enable_wind>0</enable_wind>
        <kinematic>0</kinematic>
      </link>
      <plugin name='ft_sensor' filename='libgazebo_ros_ft_sensor.so'>
        <updateRate>30.0</updateRate>
        <topicName>/gazebo/robot/wrist/ft</topicName>
        <jointName>panda_joint7</jointName>
        <robotNamespace>/</robotNamespace>
      </plugin>
      <plugin name='panda_ros_control' filename='libpanda_gazebo_ros_control.so'>
        <robotNamespace/>
        <robotSimType>panda_gazebo/PandaRobotHWSim</robotSimType>
        <controlPeriod>0.001</controlPeriod>
        <eStopTopic>sim_estop</eStopTopic>
      </plugin>
      <static>0</static>
      <plugin name='r200' filename='librealsense_gazebo_plugin.so'>
        <prefix/>
        <robotNamespace>/</robotNamespace>
      </plugin>
      <pose>0 0 0 0 -0 0</pose>
    </model>
    <state world_name='default'>
      <sim_time>344 79000000</sim_time>
      <real_time>345 84110551</real_time>
      <wall_time>1636956874 676324344</wall_time>
      <iterations>344079</iterations>
      <model name='ground_plane'>
        <pose>0 0 0 0 -0 0</pose>
        <scale>1 1 1</scale>
        <link name='link'>
          <pose>0 0 0 0 -0 0</pose>
          <velocity>0 0 0 0 -0 0</velocity>
          <acceleration>0 0 0 0 -0 0</acceleration>
          <wrench>0 0 0 0 -0 0</wrench>
        </link>
      </model>
      <model name='panda'>
        <pose>-0 0 2.7e-05 -2.4e-05 -0 0</pose>
        <scale>1 1 1</scale>
        <link name='panda_leftfinger'>
          <pose>0.305555 3.1e-05 0.533812 3.14157 -0.005527 0.000433</pose>
          <velocity>-0.000844 -1.8e-05 0.000596 0.000351 0.012119 0.003785</velocity>
          <acceleration>-2.1299 -0.02346 1.17778 0.769138 -0.892989 1.23939</acceleration>
          <wrench>-0.21299 -0.002346 0.117778 0 -0 0</wrench>
        </link>
        <link name='panda_link0'>
          <pose>-0 0 2.7e-05 -2.4e-05 -0 0</pose>
          <velocity>1.2e-05 2e-06 -0.006709 0.006053 4.6e-05 -0.000125</velocity>
          <acceleration>0.02669 -0.186188 -13.3466 -0.461297 0.092332 -0.249528</acceleration>
          <wrench>0.083315 -0.5812 -41.6625 0 -0 0</wrench>
        </link>
        <link name='panda_link1'>
          <pose>0 8e-06 0.333027 -2.4e-05 1e-06 -1e-05</pose>
          <velocity>-6.2e-05 -0.001965 -0.006654 0.006075 -0.000161 -0.019539</velocity>
          <acceleration>0.01345 -1.95466 -13.2824 -0.417018 -0.321595 -1.37905</acceleration>
          <wrench>0.066855 -9.71598 -66.0225 0 -0 0</wrench>
        </link>
        <link name='panda_link2'>
          <pose>-0 7e-06 0.333027 -1.57084 -0.791518 2.4e-05</pose>
          <velocity>-1.6e-05 -0.001915 -0.006694 0.006738 0.012788 -0.019474</velocity>
          <acceleration>0.563504 -3.19063 -12.7621 0.87964 -0.352865 -1.27853</acceleration>
          <wrench>0.364545 -2.0641 -8.25614 0 -0 0</wrench>
        </link>
        <link name='panda_link3'>
          <pose>-0.224806 1.4e-05 0.555097 -3.7e-05 -0.791527 4.5e-05</pose>
          <velocity>0.002095 -0.001438 -0.003565 -0.016075 0.01375 0.002553</velocity>
          <acceleration>3.24362 -3.40797 -10.2254 1.16962 0.385608 -2.38247</acceleration>
          <wrench>10.4723 -11.003 -33.0138 0 -0 0</wrench>
        </link>
        <link name='panda_link4'>
          <pose>-0.166828 1.7e-05 0.61379 1.5663 1.56446 -0.004464</pose>
          <velocity>0.002638 -0.000489 -0.004293 -0.01631 -0.015988 -0.001797</velocity>
          <acceleration>3.45587 0.404952 -4.36265 -2.07476 -0.042943 1.73106</acceleration>
          <wrench>12.3993 1.45293 -15.6527 0 -0 0</wrench>
        </link>
        <link name='panda_link5'>
          <pose>0.216642 3.2e-05 0.698723 -0.003223 1.56446 -0.003187</pose>
          <velocity>0.001277 0.000155 0.001796 7.9e-05 -0.015498 -0.002079</velocity>
          <acceleration>2.36257 0.467759 2.40431 -0.354737 1.52891 3.10552</acceleration>
          <wrench>2.89639 0.573449 2.94756 0 -0 0</wrench>
        </link>
        <link name='panda_link6'>
          <pose>0.216642 3.2e-05 0.698723 1.57078 -0.005529 3.2e-05</pose>
          <velocity>0.001263 0.000113 0.001768 0.000201 0.013007 -0.002153</velocity>
          <acceleration>2.21345 -0.027184 1.97447 1.59496 0.840686 2.01256</acceleration>
          <wrench>3.68885 -0.045303 3.29058 0 -0 0</wrench>
        </link>
        <link name='panda_link7'>
          <pose>0.304641 3.4e-05 0.699209 -3.1377 -0.003924 -0.784972</pose>
          <velocity>0.001266 -9.4e-05 0.000616 0.000414 0.012791 0.003442</velocity>
          <acceleration>0.047227 -0.067205 1.08069 0.124974 1.23085 1.8701</acceleration>
          <wrench>0.069213 -0.09849 1.58377 0 -0 0</wrench>
        </link>
        <link name='panda_rightfinger'>
          <pose>0.305555 3.2e-05 0.533812 3.14157 -0.005526 0.000435</pose>
          <velocity>-0.000843 -2.2e-05 0.000601 0.000187 0.01208 0.002961</velocity>
          <acceleration>-2.32285 -0.034904 1.20487 0.336447 -0.970318 -0.303693</acceleration>
          <wrench>-0.232285 -0.00349 0.120487 0 -0 0</wrench>
        </link>
      </model>
      <model name='unit_box'>
        <pose>0.485732 -0.037619 0.254412 0.000653 -1.2e-05 -9e-06</pose>
        <scale>1 1 1</scale>
        <link name='unit_box::link'>
          <pose>0.485734 -0.037492 0.059251 0.000653 -1.2e-05 -9e-06</pose>
          <velocity>0 0 0 0 -0 0</velocity>
          <acceleration>0 0 0 0 -0 0</acceleration>
          <wrench>0 0 0 0 -0 0</wrench>
        </link>
      </model>
      <light name='sun'>
        <pose>0 0 10 0 -0 0</pose>
      </light>
      <light name='user_spot_light_0'>
        <pose>0.481973 0.710107 1 0 -0 0</pose>
      </light>
      <light name='user_spot_light_1'>
        <pose>0.259856 -2.02102 1 0 -0 0</pose>
      </light>
    </state>
    <model name='unit_box'>
      <link name='unit_box::link'>
        <inertial>
          <mass>100</mass>
          <inertia>
            <ixx>0.177271</ixx>
            <ixy>0</ixy>
            <ixz>0</ixz>
            <iyy>0.469025</iyy>
            <iyz>0</iyz>
            <izz>0.350193</izz>
          </inertia>
          <pose>0 0 0 0 -0 0</pose>
        </inertial>
        <self_collide>0</self_collide>
        <enable_wind>0</enable_wind>
        <kinematic>0</kinematic>
        <pose>0 -0 -0.195161 0 -0 0</pose>
        <gravity>1</gravity>
        <visual name='visual'>
          <geometry>
            <box>
              <size>0.196257 0.059214 0.13329</size>
            </box>
          </geometry>
          <material>
            <script>
              <name>Gazebo/Grey</name>
              <uri>file://media/materials/scripts/gazebo.material</uri>
            </script>
            <shader type='pixel'>
              <normal_map>__default__</normal_map>
            </shader>
          </material>
          <pose>0 0 0 0 -0 0</pose>
          <transparency>0</transparency>
          <cast_shadows>1</cast_shadows>
        </visual>
        <collision name='collision'>
          <laser_retro>0</laser_retro>
          <max_contacts>10</max_contacts>
          <pose>0 0 0 0 -0 0</pose>
          <geometry>
            <box>
              <size>0.196257 0.059214 0.13329</size>
            </box>
          </geometry>
          <surface>
            <friction>
              <ode>
                <mu>1</mu>
                <mu2>1</mu2>
                <fdir1>0 0 0</fdir1>
                <slip1>0</slip1>
                <slip2>0</slip2>
              </ode>
              <torsional>
                <coefficient>1</coefficient>
                <patch_radius>0</patch_radius>
                <surface_radius>0</surface_radius>
                <use_patch_radius>1</use_patch_radius>
                <ode>
                  <slip>0</slip>
                </ode>
              </torsional>
            </friction>
            <bounce>
              <restitution_coefficient>0</restitution_coefficient>
              <threshold>1e+06</threshold>
            </bounce>
            <contact>
              <collide_without_contact>0</collide_without_contact>
              <collide_without_contact_bitmask>1</collide_without_contact_bitmask>
              <collide_bitmask>1</collide_bitmask>
              <ode>
                <soft_cfm>0</soft_cfm>
                <soft_erp>0.2</soft_erp>
                <kp>1e+13</kp>
                <kd>1</kd>
                <max_vel>0.01</max_vel>
                <min_depth>0</min_depth>
              </ode>
              <bullet>
                <split_impulse>1</split_impulse>
                <split_impulse_penetration_threshold>-0.01</split_impulse_penetration_threshold>
                <soft_cfm>0</soft_cfm>
                <soft_erp>0.2</soft_erp>
                <kp>1e+13</kp>
                <kd>1</kd>
              </bullet>
            </contact>
          </surface>
        </collision>
      </link>
      <static>0</static>
      <allow_auto_disable>1</allow_auto_disable>
      <pose>0.485732 -0.037619 0.254412 0.000653 -1.2e-05 -9e-06</pose>
    </model>
    <light name='user_spot_light_0' type='spot'>
      <pose>0.481973 0.025116 1 0 -0 0</pose>
      <diffuse>0.5 0.5 0.5 1</diffuse>
      <specular>0.1 0.1 0.1 1</specular>
      <direction>0 0 -1</direction>
      <attenuation>
        <range>20</range>
        <constant>0.5</constant>
        <linear>0.01</linear>
        <quadratic>0.001</quadratic>
      </attenuation>
      <cast_shadows>0</cast_shadows>
      <spot>
        <inner_angle>0.6</inner_angle>
        <outer_angle>1</outer_angle>
        <falloff>1</falloff>
      </spot>
    </light>
    <light name='user_spot_light_1' type='spot'>
      <pose>0.259856 -2.02102 1 0 -0 0</pose>
      <diffuse>0.5 0.5 0.5 1</diffuse>
      <specular>0.1 0.1 0.1 1</specular>
      <direction>0 0 -1</direction>
      <attenuation>
        <range>20</range>
        <constant>0.5</constant>
        <linear>0.01</linear>
        <quadratic>0.001</quadratic>
      </attenuation>
      <cast_shadows>0</cast_shadows>
      <spot>
        <inner_angle>0.6</inner_angle>
        <outer_angle>1</outer_angle>
        <falloff>1</falloff>
      </spot>
    </light>
  </world>
</sdf>
